body {
  font-family:  'Lato', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
  
}

.theme {
  --primary:#ff6b6b;
  --secondary: #ffe66d;
  --highlight: #4ECDC4;
  --dark: #1A535C;
  --light: #f7fff7;
}

/* global formatting via classes */
.header{
  float: left;
  width: 100%;
  height: 33vh;
  background-color: var(--primary);
  position: relative;
  text-align: center;
  line-height: 1.4;
  
}
.title{
  margin-top: 11vh;
}


/* for each component form */
.wrap{
  float: right;
  width: 75%;
  height: 100vh;
  background-color: var(--light);
}
.inWrap{
  text-align: center;
  margin-top: 9%;
  line-height: 2.5;
	

}

/* for each component header (left) */
.left{
  float: left;
  width: 25%;
  min-width: 200px;
  margin-left: -100%;
  height: 100%;
  position: relative;
  top: 33vh;
  min-height: 100vh;
  

  background-color: var(--dark);
  color: var(--light);
}
.leftTitle{
  margin-top: 20%;
  padding-left: 6%;
}
.leftSub{
  padding-left: 6%;
  margin-top: 33%;
  margin-right: 20px;
  line-height: 1.4;
  font-style: italic;
  font-size: 20px;
}


/* button location and style */
.nextPath{
  float: right;
  position: relative;
  margin-right: 6%;
  margin-top: 25vh;
  position: fixed;
  bottom: 1rem;
  right: -1rem;
  
}
.cont{
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--highlight);
  padding: 6px 15px;

}
.contLight{
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--secondary);
  padding: 6px 15px;
}
.contDark{
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--dark);
  color: var(--light);
  padding: 6px 15px;
}

/* for comment box */
.commentBox{
  font-style: italic;
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: var(--light);
  
}

/* for review section */
.inReview{
  line-height: 1.4;
  font-style: italic;

}

/* ID override aesthetics for each page */
#primary{
  background-color: var(--primary);
  color: var(--light);
}
#secondary{
  background-color: var(--secondary);
  color: black;
}
#highlight{
  background-color: var(--highlight);
  color: black;
}
#dark{
  background-color: var(--dark);
  color: var(--light);
}
#light{
  background-color: var(--light);
  color: black;
}
#finale{
  font-weight: 32px;
  font-size: 24px;
}










